* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: white;
    padding: 22px 0;
}

header div {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 32px;
    display: inline-block;
}

header ul {
    display: flex;
    list-style: none;
    margin-left: 10px;
    align-items: center;
}

header ul li {
    margin-right: 32px;
    transition: 0.3s;
}

header ul li:hover {
    transform: scale(1.2)
}

header ul li a {
    text-decoration: none;
    color: #1B1F1F;
    display: inline-block;
}

header ul li:last-of-type a {
    text-decoration: none;
    border-radius: 14px;
    background-color: black;
    color: white;
    padding: 11px 20px;
    white-space: nowrap;
    display: inline-block;
}

.section_main {
    background-color: #ECE7E4;
    padding-top: 137px;
    padding-bottom: 128px;
    background-image: url(../images/background_banner.jpg);
    background-position: right;
    background-repeat: no-repeat;
}

.section_main_div {
    max-width: 1280px;
    margin: auto;
}

.section_main_text {
    max-width: 509px;
}

.section_main_naming {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
    margin-bottom: 20px;
}

.section_main_slogan {
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #1B1A1A;
    margin-bottom: 18px;
}

.section_main_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
    margin-bottom: 41px;
}

.section_main_link {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    text-decoration: none;
    margin-left: 25px;
}

.our_process {
    padding-top: 100px;
    padding-bottom: 100px;
}

.our_process_container {
    max-width: 1200px;
    margin: auto;
}

.our_process_container h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
    margin-bottom: 13px;
}

.our_process_container h2 {
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    text-align: center;
    color: #1B1A1A;
    margin-bottom: 47px;
}


.our_process_d-flex_item {
    text-align: center;
}

.our_process_container img {
    max-width: 117px;
    height: auto;
    display: block;
    margin: auto;
}

.our_process_container h6 {
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    color: #403E3B;
}

.our_process_container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #645C55;
    max-width: 294px;
    display: inline-block;
}


.our_process_container h6 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.owl-stage {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}


.owl-dots {
    position: absolute;
    bottom: -40px;
    margin-left: 0;
    margin-right: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.owl-dot {
    font-family: "Font Awesome 6 Free", sans-serif;
    font-weight: 900;
    content: "\f192";
    color: #403E3B;
    font-size: 30px;
}


.owl-dot:before {
    font-family: "Font Awesome 6 Free", sans-serif;
    font-weight: 900;
    content: "\f192";
    color: #403E3B;
    font-size: 30px;
}

.owl-dot {
    opacity: 60%;
}

.owl-dot.active {
    opacity: 100%;
}


.section_git {
    background-color: #CEC4BC;
    padding-top: 100px;
    padding-bottom: 117px;
}

.section_git_div {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.section_git_div_text {
    max-width: 569px;
}

.section_git_subject {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}

.section_git_question {
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #1B1A1A;
}

.section_git_link {
    display: inline-block;
    margin-top: 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    text-decoration: none;
    white-space: nowrap;
}

footer {
    padding-top: 62px;
    padding-bottom: 60px;
}

.footer_div {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer_logo_link .social_1 .social_2 {
    display: inline-block;
}

.footer_text {
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #645C55;
}

.footer_text_links {
    text-decoration: none;
    color: #645C55;
}

.socials {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 58px;
    align-items: center;
}

.social_1 {
    margin-right: 20px;
}

.social_2 {
    margin-right: 26px;
}

.get_template-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    width: 350px;
    height: 52px;
    margin: auto;
}


.get_template-form input {
    border: none;
    box-shadow: none;
    background-color: transparent;
    width: 260px;
    height: 40px;
    margin-left: 6px;
    font-family: 'Poppins', sans-serif;
    padding-left: 5px;
    caret-color: #403E3B;
}


.get_template-form button {
    background: #403E3B;
    border-radius: 11px;
    width: 60px;
    height: 30px;
    margin-right: 6px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    border: none;
}

.get_template-form button:hover {
    cursor: pointer;
}

.get_template-form button:active {
    transform: translateY(2px);
}

.ui-widget {font-family: inherit; font-size: 16px; border-radius: 11px;}

.ui-widget p {margin-left: 18px;}

.ui-widget-header {background-color: #403E3B; border-radius: 11px;}

.ui-dialog .ui-dialog-title {color: #FFFFFF;font-weight: 400;}

.ui-button:active {border: 1px solid #645C55; background-color: #645C55;}